In [1]:
from recsys import * ## recommender system cookbook
from generic_preprocessing import * ## pre-processing code
from IPython.display import HTML ## Setting display options for Ipython Notebook
# Importing rating data and having a look
ratings = pd.read_csv('./ratings.csv')
ratings.head()

/Users/awaiskaleem/anaconda3/lib/python3.7/site-packages/lightfm/_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn('LightFM was compiled without OpenMP support. '

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
movies = pd.read_csv('./movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
interactions = create_interaction_matrix(df = ratings,
                                         user_col = 'userId',
                                         item_col = 'movieId',
                                         rating_col = 'rating')
interactions.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Create User Dict
user_dict = create_user_dict(interactions=interactions)
# Create Item dict
movies_dict = create_item_dict(df = movies,
                               id_col = 'movieId',
                               name_col = 'title')

In [9]:
mf_model = runMF(interactions = interactions,
                 n_components = 30,
                 loss = 'warp',
                 epoch = 30,
                 n_jobs = 4)

In [10]:
## Calling 10 movie recommendation for user id 11
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 11, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10,
                                      show = True)

Known Likes:
1- Saving Private Ryan (1998)
2- As Good as It Gets (1997)
3- Titanic (1997)
4- Amistad (1997)
5- Contact (1997)
6- Last of the Mohicans, The (1992)
7- Top Gun (1986)
8- Silence of the Lambs, The (1991)
9- Searching for Bobby Fischer (1993)
10- Fugitive, The (1993)
11- Forrest Gump (1994)
12- Clear and Present Danger (1994)
13- Apollo 13 (1995)
14- Braveheart (1995)
15- Heat (1995)

 Recommended Items:
1- Mission: Impossible (1996)
2- True Lies (1994)
3- Independence Day (a.k.a. ID4) (1996)
4- Die Hard: With a Vengeance (1995)
5- Star Wars: Episode VI - Return of the Jedi (1983)
6- Terminator 2: Judgment Day (1991)
7- Jurassic Park (1993)
8- Stargate (1994)
9- Cliffhanger (1993)
10- Rock, The (1996)

In [11]:
## Calling 15 user recommendation for item id 1
sample_recommendation_item(model = mf_model,
                           interactions = interactions,
                           item_id = 1,
                           user_dict = user_dict,
                           item_dict = movies_dict,
                           number_of_user = 15)

[399, 77, 478, 81, 235, 133, 530, 347, 48, 557, 37, 423, 8, 569, 507]

In [12]:
## Creating item-item distance matrix
item_item_dist = create_item_emdedding_distance_matrix(model = mf_model,
                                                       interactions = interactions)
## Checking item embedding distance matrix
item_item_dist.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.774019,0.398867,-0.105157,0.309017,0.525482,0.405520,0.181713,0.344593,0.685776,...,-0.688229,-0.700210,-0.715166,-0.741335,-0.656739,-0.679048,-0.736975,-0.679585,-0.724847,-0.009492
2,0.774019,1.000000,0.511318,-0.008655,0.534590,0.424394,0.372840,0.248378,0.479970,0.750006,...,-0.608090,-0.664182,-0.694974,-0.666055,-0.645221,-0.617606,-0.635201,-0.635913,-0.704874,0.093102
3,0.398867,0.511318,1.000000,0.305977,0.588426,0.431849,0.633907,0.493638,0.549802,0.540038,...,-0.461460,-0.589043,-0.589956,-0.483919,-0.596710,-0.450150,-0.561533,-0.581475,-0.619775,-0.220282
4,-0.105157,-0.008655,0.305977,1.000000,0.434382,0.013731,0.552931,0.462540,0.370979,0.111743,...,-0.098006,-0.030213,-0.070534,0.104741,-0.124855,0.004416,-0.085463,-0.040258,-0.067697,-0.148306
5,0.309017,0.534590,0.588426,0.434382,1.000000,0.119139,0.606925,0.376579,0.464876,0.383802,...,-0.195508,-0.204418,-0.268267,-0.156870,-0.274470,-0.182236,-0.258972,-0.244654,-0.258321,0.260696

In [13]:

## Calling 10 recommended items for item id 
rec_list = item_item_recommendation(item_emdedding_distance_matrix = item_item_dist,
                                    item_id = 5378,
                                    item_dict = movies_dict,
                                    n_items = 10)

Item of interest :Star Wars: Episode II - Attack of the Clones (2002)
Item similar to the above item:
1- Spider-Man (2002)
2- X2: X-Men United (2003)
3- Star Wars: Episode III - Revenge of the Sith (2005)
4- Lord of the Rings: The Fellowship of the Ring, The (2001)
5- X-Men (2000)
6- Spider-Man 2 (2004)
7- Minority Report (2002)
8- Lord of the Rings: The Two Towers, The (2002)
9- Cast Away (2000)
10- Unbreakable (2000)